<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Corona Virus Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
 <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity=
"sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity=
"sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity=
"sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>

<style>
.countryName {
	text-transform: capitalize;
}

.title {
	text-align: center;
	font-family: Georgia, sans-serif;
	font-size: 3em;
	letter-spacing: -2px;
	color: #000080;
	font-weight: bold
}

.row.one {
	margin-bottom: 4px;
}

.row.two {
	margin-bottom: 20px;
}

tr:nth-child(even) {
	background-color: #F0F8FF;
}

.covidImage {
	bottom: 10px;
	position: relative;
}

svg {
	width: 25px;
	height: 25px;
}

 .header {
            position: sticky;
            top:0;
        }
        
 .theader{
 	background-color: #F0F8FF !important;
 }
 .card.top{
 		width : 21rem;
 	}
 	.myimage{
 		width : 300px;
 		height: 300px;
 	}
 @media screen and (min-width : 100px) and (max-width:990px) {
 	.card.top{
 		width : 13rem;
 	}
 	.col.top{
 		width : 33%;
 	}
 }
 @media screen and (min-width : 990px) and (max-width:1200px) {
 	.card.top{
 		width : 18rem;
 	}
 }
  @media screen and (min-width : 100px) and (max-width:1002px) {
 	.myimage{
 		width : 250px;
 		height: 250px;
 	}
 }
   @media screen and (min-width : 100px) and (max-width:996px) {
 	.global{
 		width : 600px;
 	}
 }
</style>
</head>

<body>
<h1 class="title">
			<img class="covidImage" th:src="@{images/covid19.png}" width="50px"
				height="50px" /> Corona Virus Tracker
			<button
				style="float: right; margin-top: 5px; height: 40px; width: 150px; margin-right: 5px"
				type="button" class="btn btn-primary btn-sm" id="devinfo">View
				Developer Info</button>
		</h1>
	<div class="container">
		<h3 th:text="${name}"></h3>
		<div class="row">
			<div class="col-9 global">
				<h2 style="color: #000080;">Global Corona Cases</h2>
			</div>
			<div class="col">
				<h3 style="color: #000080;" th:text="${dataBean.date}"></h3>
			</div>
		</div>
		<div class="row">
			<div class="col top" style="margin-top: 5px;">
				<div class="row one">
					<div class="col">
						<div class="card top text-white bg-secondary">
							<div class="card-body">
								<h5 class="card-title">Total Confirmed</h5>
								<p class="card-text" th:text="${dataBean.global.totalconfirmed}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card top text-white bg-secondary" >
							<div class="card-body">
								<h5 class="card-title">New Confirmed</h5>
								<p class="card-text" th:text="${dataBean.global.newconfirmed}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col top" style="margin-top: 5px;">
				<div class="row one">
					<div class="col">
						<div class="card top text-white bg-danger" >
							<div class="card-body">
								<h5 class="card-title">Total Deaths</h5>
								<p class="card-text" th:text="${dataBean.global.totaldeaths}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card top text-white bg-danger" >
							<div class="card-body">
								<h5 class="card-title">New Deaths</h5>
								<p class="card-text" th:text="${dataBean.global.newdeaths}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col top" style="margin-top: 5px;">
				<div class="row one">
					<div class="col">
						<div class="card top text-white bg-success">
							<div class="card-body">
								<h5 class="card-title">Total Recovered</h5>
								<p class="card-text" th:text="${dataBean.global.totalrecovered}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card top text-white bg-success" >
							<div class="card-body">
								<h5 class="card-title">New Recovered</h5>
								<p class="card-text" th:text="${dataBean.global.newrecovered}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	<h2 style="margin-top: 20px; color: #000080; text-align: center;">Country wise Corona
		Cases</h2>
<div>
	<table class="table" >
		<thead style="position: sticky;top: 0" class="theader">
			<tr>
				<th >S.No</th>
				<th>Country</th>
				<th>Total Confirmed</th>
				<th>New Confirmed</th>
				<th>Total Deaths</th>
				<th>New Deaths</th>
				<th>Total Recovered</th>
				<th>New Recovered</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="country,sNo: ${dataBean.countries}">
				<td th:text="${sNo.count}"></td>
				<td class="countryName" th:text="${country.country}"></td>
				<td th:text="${country.totalconfirmed}"></td>
				<td th:text="${country.newconfirmed}"></td>
				<td th:text="${country.totaldeaths}"></td>
				<td th:text="${country.newdeaths}"></td>
				<td th:text="${country.totalrecovered}"></td>
				<td th:text="${country.newrecovered}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="card mb-3 text-white bg-secondary"
		style="margin-bottom: 0px !important;">
		<div class="card-body">
			<h5 class="card-title"
				style="color: #3C1874; font-weight: bold; font-size: 30px">About
				Me</h5>
			<p class="card-text">
			<div class="row">
				<div class="col-8">
					<p>Hello, I am Belugula Shushanth. I have 8 months of
						experience working in Accenture. I successfully completed 6 months
						of training in Java and Spring Boot. I built various Object
						oriented and web - based Enterprise Applications using Java/J2EE
						technologies and worked on the complete System Development Life
						Cycle (SDLC) and also worked on developing Rest API's using Spring
						Boot.</p>
					<div class="row">
						<div class="col">
							<ul>
								<h3 style="color: #3C1874">Key Skills</h3>
								<li>Java(J2SE & J2EE)</li>
								<li>Spring and Spring Boot</li>
								<li>Hibernate with Spring Data JPA</li>
								<li>MySql</li>
								<li>HTML, CSS, Javascript</li>
								<li>Thymleaf, JSP</li>
								<li>React JS</li>
							</ul>
						</div>
						<div class="col">
							<h3 style="color: #3C1874">Contact Me:</h3>
							<p>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                               <path
										d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
							</svg>
								Cell : +91 9502485674
							</p>
							<address>
								<a href="mailto:sushanth179@gmail.com"> <img width="40px"
									height="40px"
									src="https://img.icons8.com/fluent/96/000000/email-open.png" />
								</a> <a href="https://api.whatsapp.com/send?phone=+919502485674">
									<img width="40px" height="40px"
									src="https://img.icons8.com/office/480/000000/whatsapp--v3.png" />
								</a>
							</address>
						</div>
					</div>
				</div>
				<div class="col">
					<img  class="myimage" th:src="@{images/myimage.jpg}">
				</div>
			</div>
			</p>
		</div>
	</div>
	<script>
	var devinfo = document.getElementById('devinfo');
	devinfo.addEventListener('click',()=>{
    window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
  })
	</script>
</body>

</html>